
@model BugTracker.Models.ProjectClasses.TicketAttachmentViewModel
@{
    ViewBag.Title = "AddAttachment";
}

<h2 class=@ViewBag.classView>Add Attachment</h2>
@using (Html.BeginForm("CreateTicketAttachment", "TicketAttachment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TicketId, new { Value = @ViewBag.TicketId })
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FileData, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FileData, new { type = "file" })
        </div>
    </div>

    @*<div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.TicketId, new { @class = "hidden", @value = "" })
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Upload" />
        </div>
    </div>
}
@*@Html.ActionLink("Back to Dashboard", "Index")*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<br/>
<span class="btn btn-default btnShadow">@Html.ActionLink("Back", "Index", "Ticket")</span>
