@model BugTracker.Models.ProjectClasses.TicketAttachmentViewModel
@{
    ViewBag.Title = "UpdateTicketAttachment";
}

<h2>UpdateTicketAttachment</h2>

<h2>Add Attachment</h2>
@using (Html.BeginForm("UpdateTicketAttachment", "TicketAttachment", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.TicketId)
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FileData, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FileData, new { type = "file" })
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.TicketId, new { @class = "hidden", @value = "" })
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Upload" />
        </div>
    </div>
}
@*@Html.ActionLink("Back to Dashboard", "Index")*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
